/cartridges/int_cybersource_sfra/cartridge/static
/cartridges/int_cybersource_sfra/cartridge/client/default/custom/lib/jquery
/cartridges/int_cybersource_sfra/cartridge/client/default/lib/jquery
/cartridges/int_cybersource_sfra/cartridge/client/default/js/paypal.js
